<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action='{:Url("index/specification/save")}' id="formSubmit">
        <div class="modal-dialog" role="document" id="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box box-info">
                    <h5 class="modal-title" id="exampleModalLabel">规格</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">类型</label>
                        <select class="form-control" style="width: 100%"  id="cmbType" name="cmbType"  >
                        </select>
                        <input type="hidden" class="form-control" placeholder="" id="tid" name="tid"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">规格编码</label>
                        <input type="text" class="form-control" placeholder="" id="txtCode" name="code"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">规格</label>
                        <input type="text" class="form-control" placeholder="" id="txtSubject" name="subject"/>
                    </div>


                    <div class="form-group">
                        <label class="control-label">描述</label>
                        <input type="text" class="form-control" placeholder="" id="txtDescription" name="description"/>
                    </div>

                </div>
                <div class="popover popover-top">
                    <h3 class="popover-title">Popover top</h3>
                    <div class="popover-content">
                        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="checkbox" class="android-checkbox" name="isClosed" id="isClosed" />继续添加

                    <input type="hidden" value="" id="txtId" name="id"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnSave"
                            data-container="body"
                            data-toggle="popover"
                            data-placement="top"
                            data-content="出错了"
                            data-html="true"
                            data-trigger="focus">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#cmbType").select2({
        dropdownParent: $('#myModal'),
        theme: "bootstrap",
        ajax: {
            url: SERVER_ROOT + "/index/specification/gettype",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.rows,
                    pagination: {
                        more: (params.page * 20) < data.total
                    }
                };
            },
            cache:true
        },
        escapeMarkup:function (markup) {return markup;},
        minimumInputLength:1,
        templateResult:function (repo) {
            if (repo.loading) return repo.text;
            return repo.subject;

        },
        templateSelection:function (repo) {
            $("#tid").val(repo.id);
            return repo.subject || repo.text;
        },
        initSelection:function (element, callback) {
             var data = {id:-1, text:"请选择规格分类"};
             callback(data);
        },

    })

    $("#btnSave").click(function () {

        $.ajax({
            url:SERVER_ROOT + "index/specification/save",
            type:"POST",
            data:getFormJson($("#formSubmit")),
            success:function (response) {
                if(response !== true){
                    var msg = "";
                    for(var key in response){
                        msg += response[key] + "<br/>";
                    }

                    $("#btnSave").attr('data-content',msg);
                    $("#btnSave").attr('title',"出错了");
                    $("#btnSave").popover('show');
                }
                else{
                    //继续添加
                    if(!$("#isClosed").is(':checked')){
                        $("#btnSave").popover("hide");
                        $("#myModal").modal("hide");
                    }
                    $table.bootstrapTable("refresh");
                }
            }
        });
        return false;
    })
</script>